## Where are you likely going to travel based on your recent history

## Import the necessary packages

In [1]:
import sys
sys.path.append('/home/xavier/DIR.insight2018/')
from secret import API_KEY, API_SECRET
import flickrapi
import time
import datetime
from calendar import monthrange
import pickle
import pandas as pd
import numpy as np
import xml.etree.ElementTree

flickr = flickrapi.FlickrAPI(API_KEY, API_SECRET, format='parsed-json')
#photos = flickr.walk(text='vacation',
#                     tag_mode='all',
#                     tags='cntower',
#                     extras='description,date_upload,date_taken,geo,tags,machine_tags,o_dims,views,url_s,url_m,url_l,url_o',
#                     media='photos',
#                     safe_search=1,
#                     content_type=1,
#                     per_page=50,
#                     has_geo=1,
#                     lat=43.6532,
#                     lon=-79.3832,
#                     radius=10)

#photos.__next__()
#x=photos.__next__()

In [30]:
#x.items()

In [2]:
#flickr.people.getInfo(user_id=flickr.people.findByUsername("APHendry1"))
x=flickr.people.findByUsername(username="APHendry1")

In [3]:
x['user']['nsid']

'83007471@N04'

In [33]:
#pge=1
#max_per_page_flickr = 500
#x=flickr.photos.search(tags="travel",per_page=max_per_page_flickr,page=pge)

In [34]:
#len(x['photos']['photo'])

## Deal with min and max date for the search

In [4]:
def unix_time_month_min(year,month):
    d = datetime.datetime(year,month,1,0,0,1)
    return int(time.mktime(d.timetuple()))
def unix_time_month_max(year,month):
    d = datetime.datetime(year,month,max(monthrange(year, month)),23,59,59)
    return int(time.mktime(d.timetuple()))
# [unix_time_month_min(2015,1),unix_time_month_max(2015,1)]

## Make a list of 20000 owner who use the tag 'travel'

In [43]:
## gave a 502 error
#list_user = {}
#max_per_page_flickr = 500
#for kw in ["travel", "vacation", "vacations", "holidays", "holiday", "travelling", "traveling","trip","sightseeing"]:
#    for y in range(2008,2018):
#        list_user["string{0}".format(y)]=[]
#        for m in range(1,13):
#            for pge in range(1,5):
#                x=flickr.photos.search(tags=kw,per_page=max_per_page_flickr,page=pge,
#                                       min_taken_date=unix_time_month_min(y,m),
#                                       max_taken_date=unix_time_month_max(y,m))
#                for i in range(len(x['photos']['photo'])):
#                    list_user["string{0}".format(y)].append(x['photos']['photo'][i]['owner'])

## Save the raw database to file

In [9]:
def save_raw():
    with open('raw_photos.plk', 'wb') as f:  # Python 3: open(..., 'wb')
        pickle.dump(raw_photos, f)
    return

In [ ]:
max_per_page_flickr = 500
raw_photos = pd.DataFrame(columns=['datetaken','description','latitude','longitude','owner','place_id','tags','title'])
total_comb = 9*10*12*4
a=0
startTime = datetime.datetime.now()
for kw in ["travel", "vacation", "vacations", "holidays", "holiday", "travelling", "traveling","trip","sightseeing"]:
    for y in range(2008,2018):
        for m in range(1,13):
            for pge in range(1,5):
#for kw in ["travel"]:
#    for y in range(2017,2018):
#        for m in range(1,2):
#            for pge in range(1,5):
                a+=1
                try:
                    x=flickr.photos.search(tags=kw,per_page=max_per_page_flickr,page=pge,
                                       min_taken_date=unix_time_month_min(y,m),
                                       max_taken_date=unix_time_month_max(y,m),
                                       extras='description,date_upload,date_taken,geo,tags')
                    if len(x['photos']['photo']) > 1:
                        raw_photos = raw_photos.append(pd.DataFrame(x['photos']['photo'])
                                   [['datetaken','description','latitude','longitude','owner',
                                     'place_id','tags','title']],ignore_index=True)
                    if a % 10 == 0 : print(a/total_comb, '  in ', datetime.datetime.now()-startTime)
                    if a % 500 == 0 : save_raw()
                except:
                   print('Exception reached in photo', kw, y, m,pge)
                   pass   # This just means continue
#                x=flickr.walk(tags=kw,per_page=max_per_page_flickr,extras='description,date_upload,date_taken,geo') #,
#                                       min_taken_date=unix_time_month_min(y,m),
#                                       max_taken_date=unix_time_month_max(y,m)) 
#                for i in range(len(x['photos']['photo'])):
#                    list_user.append(x['photos']['photo'][i]['owner'])
#                    year.append(y)
#                    month.append(m)
#                    photo_id.append(x['photos']['photo'][i]['id'])
#                    tmp=pd.DataFrame({'user':pd.Series([x['photos']['photo'][i]['owner']], dtype='str'),
#                                      'year':pd.Series([y], dtype='int'),
#                                      'month':pd.Series([m], dtype='int')})
#                    list_user=list_user.append(tmp,ignore_index=True)
save_raw()
print(datetime.datetime.now() - startTime)
# Roughly 4:20 hours run time

do_request: Status code 502 received, content:
    <!DOCTYPE html>
<html lang="en-us"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Yahoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <style>
html {
    height: 100%;
}
body {
    background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;
    background-size: cover;
    height: 100%;
    text-align: center;
    font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
}
table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
h1 {
    font-size: 42px;
    font-weight: 400;
    color: #400090;
}
p {
    color: #1A1A1A;
}
#message-1 {
    font-weight: bold;
    margin: 0;
}
#message-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    max-width: 17em;
    _width: 17em;
}
#spanishContent {
    display: none;
}
    </style>
<script>
  document.write('<img src="//geo.yahoo.com/b?s=1197757129
    t='+new Date().getTime()+'
    err_url='+encodeURIComponent(document.URL)+'
    err=502
    test='+encodeURIComponent('-')+'" width="0px" height="0px"/>');
</script>
</head>
<body>
<!-- status code : 502 -->
<!-- Server Connection Closed -->
<!-- host machine: e20.ycpi.dca.yahoo.com -->
<!-- timestamp: 1537301319.709 -->
<!-- url: https://api.flickr.com/services/rest/-->
<table>
<tbody><tr>
    <td>
    <div id="englishContent">
        <script type="text/javascript">
        if (window.location.hostname=='att.yahoo.com'){
            document.write('<img src="https://s1.yimg.com/rz/d/att_en-US_f_p_bestfit_2x.png" alt="AT
    T">');
        }else{
            document.write('<img src="https://s.yimg.com/nn/img/yahoo-logo-201402200629.png" alt="Yahoo Logo">');
        }
        </script>
        <h1 style="margin-top:20px;">Will be right back...</h1>
        <p id="message-1">Thank you for your patience.</p>
        <p id="message-2">Our engineers are working quickly to resolve the issue.</p>
    </div>
    <div id="spanishContent">
        <img src="https://s1.yimg.com/rz/d/att_es-US_f_p_bestfit_2x.png" alt="AT
    T En Vivo" style="max-width:310px">
        <h1 style="margin-top:20px;">Volvemos enseguidaâ¦</h1>
        <p id="message-1">Gracias por tu paciencia.</p>
        <p id="message-2">Nuestros ingenieros estÃ¡n trabajando rÃ¡pidamente para resolver el problema.</p>
    </div>
    <script type="text/javascript">
    if (window.location.hostname=='espanol.att.yahoo.com'){
        document.getElementById('englishContent').style.display = 'none';
        document.getElementById('spanishContent').style.display = 'block';
    }
    </script>
    </td>
</tr>
</tbody></table>


</body></html>

Exception reached in photo travel 2008 1 3

NameError: name 'pickle' is not defined

In [8]:
#raw_photos

kw
raw_photos

,datetaken,description,latitude,longitude,owner,place_id,tags,title
0,2017-01-06 19:34:54,{'_content': 'L'Avana - Cuba'},0,0,95141069@N07,NaN,havana habana avana lavana lhavana lhabana lah...,Umbrella
1,2017-01-14 12:50:43,{'_content': 'Dambachtal. January 2017'},0,0,167007868@N08,NaN,invierno winter season estaciones estanque pon...,Invierno
2,2017-01-15 09:57:08,{'_content': 'Tucked away between the mountain...,23.458711,58.586455,22475539@N07,JADp8pRTULwgUY09,alexstoenphotography geotagged leicamptyp240 m...,"The Wadi (Muscat, Sultanate of Oman 2017)"
3,2017-01-26 20:53:10,{'_content': 'Colourful fireworks on Australia...,0,0,29850879@N08,NaN,adelaide australia cbd elderpark festival fire...,Australia Day fireworks in Adelaide city
4,2017-01-01 14:27:36,"{'_content': '<a href=""https://veganoutreach.o...",40.577398,-73.835978,72616463@N00,sfNY3j9TVrJ71I.8,ratexlasnewyorktrip2016 newyorkcity 1jan2017 2...,20170101_13 Sun over sandy beach | Rockaway Pa...
5,2017-01-22 17:56:14,{'_content': 'An adventure through the massive...,0,0,66479648@N08,NaN,algeria algerie algerian africa algérienne alg...,Through The Algerian Sahara
6,2017-01-16 13:41:37,{'_content': 'Pasta e patate con scamorza un p...,0,0,160739067@N08,NaN,beauty fashion fat loss fitness food health ho...,Pasta e patate con scamorza
7,2017-01-10 17:58:55,"{'_content': 'Laguna Beach, California'}",0,0,24391862@N06,NaN,lagunabeach laguna beach orangecounty oc calif...,Secret Beach in Laguna
8,2017-01-29 17:40:44,"{'_content': '🔍 <strong><a href=""http://www.pl...",52.502184,13.447008,134867221@N07,zEN0.m9XV7rtWy0,architecture architektur allemagne adventure a...,Oberbaum Bridge in Winter
9,2017-01-29 16:03:41,"{'_content': 'Residence of <a href=""https://en...",0,0,23985194@N06,NaN,khudirambose home midnapore medinipur bengal i...,Experience Bengal - Bengali Revolutionaries an...
10,2017-01-15 09:47:40,{'_content': 'in Bavaria / Germany'},47.557573,10.749435,157852789@N03,JCKzB4pXVLt9CaM,castle bavaria germany landscape sightseeing t...,Castle Neuschwanstein
11,2017-01-28 17:48:41,{'_content': 'The beautiful atrium ceiling of ...,0,0,86855701@N08,NaN,macau macao china macauchina theparisianmacau ...,The Parisian (Macau)
12,2017-01-01 14:45:46,"{'_content': '<a href=""https://veganoutreach.o...",40.577398,-73.835978,72616463@N00,sfNY3j9TVrJ71I.8,ratexlasnewyorktrip2016 newyorkcity 1jan2017 2...,"20170101_20 Ocean wave, surfer, & board | Rock..."
13,2017-01-08 12:36:33,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6892
14,2017-01-08 12:33:32,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6885
15,2017-01-08 12:37:32,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6895
16,2017-01-08 13:16:34,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6906
17,2017-01-08 13:17:22,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6913
18,2017-01-08 13:17:58,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6914
19,2017-01-08 13:18:21,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6916
20,2017-01-08 13:24:26,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6926
21,2017-01-08 13:20:51,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_6921
22,2017-01-09 14:32:10,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7100
23,2017-01-09 14:32:35,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7103
24,2017-01-09 14:32:41,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7104
25,2017-01-09 14:33:15,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7105
26,2017-01-09 14:43:51,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7116
27,2017-01-09 14:43:58,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7117
28,2017-01-09 14:43:59,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7118
29,2017-01-09 14:44:47,{'_content': ''},0,0,159251252@N07,NaN,philippines 2017 travelphotography travel trav...,IMG_7121
...,...,...,...,...,...,...,...,...
1969,2017-01-02 16:24:40,{'_content': ''},23.134938,-82.357764,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1970,2017-01-01 19:09:30,{'_content': ''},23.142997,-82.394531,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1971,2017-01-03 17:27:36,{'_content': ''},23.143000,-82.393898,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1972,2017-01-02 18:35:19,{'_content': ''},0,0,83573299@N00,NaN,cuba travel 2017,
1973,2017-01-04 18:15:34,{'_content': ''},0,0,83573299@N00,NaN,cuba travel 2017,
1974,2017-01-02 16:44:31,{'_content': ''},23.136952,-82.349328,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1975,2017-01-02 15:56:21,{'_content': ''},23.137666,-82.389267,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1976,2017-01-04 14:19:46,{'_content': ''},23.118119,-82.434792,83573299@N00,tDsMtypXVrvxmA,cuba travel 2017,
1977,2017-01-02 18:15:49,{'_content': ''},23.136305,-82.360253,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1978,2017-01-04 11:52:24,{'_content': ''},23.144638,-82.388764,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1979,2017-01-01 17:32:12,{'_content': ''},23.146247,-82.389467,83573299@N00,1Wu0ZktXU7tNCw,cuba travel 2017,
1980,2017-01-02 16:59:09,{'_content': ''},23.140822,-82.350923,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1981,2017-01-02 16:40:47,{'_content': ''},23.136397,-82.350687,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1982,2017-01-03 15:38:48,{'_content': ''},23.117680,-82.434662,83573299@N00,tDsMtypXVrvxmA,cuba travel 2017,
1983,2017-01-02 16:53:54,{'_content': ''},23.140261,-82.349564,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1984,2017-01-02 16:25:08,{'_content': ''},23.134836,-82.357759,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1985,2017-01-04 18:20:28,{'_content': ''},23.118094,-82.434264,83573299@N00,tDsMtypXVrvxmA,cuba travel 2017,
1986,2017-01-03 17:31:24,{'_content': ''},23.143300,-82.393426,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1987,2017-01-02 16:45:42,{'_content': ''},23.137600,-82.349817,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1988,2017-01-01 17:45:52,{'_content': ''},23.146338,-82.390245,83573299@N00,1Wu0ZktXU7tNCw,cuba travel 2017,
1989,2017-01-02 17:12:15,{'_content': ''},23.138575,-82.353462,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1990,2017-01-04 15:47:46,{'_content': ''},23.118147,-82.434731,83573299@N00,tDsMtypXVrvxmA,cuba travel 2017,
1991,2017-01-03 11:58:32,{'_content': ''},0,0,83573299@N00,NaN,cuba travel 2017,
1992,2017-01-01 17:32:41,{'_content': ''},23.146427,-82.389573,83573299@N00,1Wu0ZktXU7tNCw,cuba travel 2017,
1993,2017-01-04 12:41:51,{'_content': ''},23.145169,-82.388803,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1994,2017-01-02 15:48:28,{'_content': ''},23.140091,-82.391403,83573299@N00,Bu8t0mJXWr5Ruw,cuba travel 2017,
1995,2017-01-03 16:14:00,{'_content': ''},23.118227,-82.435045,83573299@N00,tDsMtypXVrvxmA,cuba travel 2017,
1996,2017-01-02 19:33:57,{'_content': ''},23.145836,-82.358781,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1997,2017-01-02 18:10:03,{'_content': ''},23.137644,-82.357309,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,
1998,2017-01-02 16:28:16,{'_content': ''},23.134027,-82.356148,83573299@N00,S.m5DQhXUbLn4Q,cuba travel 2017,

In [16]:
## sandbox to find geotag and location
#pd.DataFrame(x['photos']['photo'])[['datetaken','description','latitude','longitude','owner','place_id','tags','title']]
#pd.DataFrame(flickr.photos.getInfo(photo_id='43933280134')['photo']['tags']['tag'])['raw'].values.tolist()

In [6]:
with open('userList.plk', 'rb') as f:  # Python 3: open(..., 'rb')
    raw_photos =  pickle.load(f)

## Transform lists to a sorted panda data frame

In [17]:
tmp = {'User': list_user,
       'Month': month,
       'Year': year}
raw_user = pd.DataFrame(tmp)
raw_user.sort_values(by=['User'],inplace=True) # stort the list
raw_user.reset_index(drop=True,inplace=True)
#raw_user

                  User  Month  Year
0        100001528@N06      7  2016
1        100001528@N06      7  2016
2        100001528@N06      7  2016
3        100001528@N06      7  2016
4        100001528@N06      7  2016
5        100001528@N06      7  2016
6        100001528@N06      7  2016
7        100001528@N06      7  2016
8        100001930@N07      6  2010
9        100002077@N08      4  2013
10       100002077@N08      4  2013
11       100002077@N08      4  2013
12       100002077@N08      4  2012
13       100002077@N08      4  2012
14       100002077@N08      4  2012
15       100002077@N08      4  2013
16       100002077@N08      4  2013
17       100002797@N05     10  2013
18       100002797@N05     10  2013
19       100005349@N03      5  2015
20       100005349@N03      8  2015
21       100005349@N03      8  2015
22       100005349@N03      8  2015
23       100005349@N03      8  2015
24       100005349@N03      8  2015
25       100005349@N03      8  2015
26       100005349@N03      6  2016
27       100005349@N03      8  2015
28       100005349@N03     10  2015
29       100005349@N03      6  2016
...                ...    ...   ...
1958244   99988617@N04      8  2013
1958245   99988617@N04      8  2013
1958246   99988617@N04      8  2013
1958247   99988617@N04      8  2013
1958248   99988617@N04      8  2013
1958249   99988617@N04     11  2013
1958250   99988617@N04     11  2013
1958251   99988617@N04     11  2013
1958252   99988617@N04     11  2013
1958253   99988617@N04      6  2016
1958254   99988617@N04     11  2013
1958255   99988617@N04     11  2013
1958256   99988617@N04      7  2015
1958257   99988617@N04      8  2013
1958258   99988617@N04      4  2015
1958259   99988617@N04      4  2015
1958260   99988617@N04      4  2015
1958261   99988617@N04      4  2015
1958262   99988617@N04      4  2015
1958263   99988617@N04      7  2015
1958264   99988617@N04      4  2015
1958265   99988617@N04      4  2015
1958266   99988617@N04      4  2015
1958267    9998932@N04      1  2008
1958268    9998932@N04      1  2008
1958269    9998932@N04      1  2008
1958270    9998932@N04      1  2008
1958271   99992323@N05     11  2013
1958272    9999639@N08     10  2008
1958273    9999639@N08     10  2008

[1958274 rows x 3 columns]

## Pick unique users who are present in more than one year

In [20]:
unique_user = {}
#a=0
#startTime = datetime.datetime.now()
# First entry
tmp_user=raw_user['User'][0]
tmp_list_year=[raw_user['Year'][0]]
n_row=len(raw_user['User'])
for i in range(1,n_row): # surf on the list grouped by user faster than doing search df['user'= user]
#    a+=1
    if tmp_user == raw_user['User'][i] :
        tmp_list_year.append(raw_user['Year'][i])
    else:
        set_tmp_list_year = set(tmp_list_year)
        if len(set_tmp_list_year) >1:
            unique_user[tmp_user] = set_tmp_list_year
        # Reset
        tmp_user=raw_user['User'][i]
        tmp_list_year=[raw_user['Year'][i]]
with open('unique_users.plk', 'wb') as f:  # Python 3: open(..., 'wb')
    pickle.dump([unique_user], f)
#    if a % 1000 ==0 : print(a/n_row, 'in',  datetime.datetime.now()-startTime)
#set_tmp_list_year = set(tmp_list_year)
#if len(set_tmp_list_year) > 1:
#    unique_user[tmp_user] = set_tmp_list_year
## This is a 1min20 seconds process VS 4 hours for the procedure below

#unique_list = set(raw_user['User'])
#max_usr=len(unique_list)
#for user in unique_list:
#    x=set(raw_user[raw_user['User'] == user]['Year'])
#    length_x = len(x)
#    a +=1
#    if length_x > 1:
#        unique_user.update({'User': i,
#                            'n_years': length_x,
#                            'years': x})
#        
#    if a % 10 ==0 : print(a/max_usr, 'in',  datetime.datetime.now()-startTime)

In [23]:
with open('unique_user.plk', 'rb') as f:  # Python 3: open(..., 'rb')
    unique_user =  pickle.load(f)

In [22]:
raw_user.tail

<bound method NDFrame.tail of                   User  Month  Year
0        100001528@N06      7  2016
1        100001528@N06      7  2016
2        100001528@N06      7  2016
3        100001528@N06      7  2016
4        100001528@N06      7  2016
5        100001528@N06      7  2016
6        100001528@N06      7  2016
7        100001528@N06      7  2016
8        100001930@N07      6  2010
9        100002077@N08      4  2013
10       100002077@N08      4  2013
11       100002077@N08      4  2013
12       100002077@N08      4  2012
13       100002077@N08      4  2012
14       100002077@N08      4  2012
15       100002077@N08      4  2013
16       100002077@N08      4  2013
17       100002797@N05     10  2013
18       100002797@N05     10  2013
19       100005349@N03      5  2015
20       100005349@N03      8  2015
21       100005349@N03      8  2015
22       100005349@N03      8  2015
23       100005349@N03      8  2015
24       100005349@N03      8  2015
25       100005349@N03      8  2015
26       100005349@N03      6  2016
27       100005349@N03      8  2015
28       100005349@N03     10  2015
29       100005349@N03      6  2016
...                ...    ...   ...
1958244   99988617@N04      8  2013
1958245   99988617@N04      8  2013
1958246   99988617@N04      8  2013
1958247   99988617@N04      8  2013
1958248   99988617@N04      8  2013
1958249   99988617@N04     11  2013
1958250   99988617@N04     11  2013
1958251   99988617@N04     11  2013
1958252   99988617@N04     11  2013
1958253   99988617@N04      6  2016
1958254   99988617@N04     11  2013
1958255   99988617@N04     11  2013
1958256   99988617@N04      7  2015
1958257   99988617@N04      8  2013
1958258   99988617@N04      4  2015
1958259   99988617@N04      4  2015
1958260   99988617@N04      4  2015
1958261   99988617@N04      4  2015
1958262   99988617@N04      4  2015
1958263   99988617@N04      7  2015
1958264   99988617@N04      4  2015
1958265   99988617@N04      4  2015
1958266   99988617@N04      4  2015
1958267    9998932@N04      1  2008
1958268    9998932@N04      1  2008
1958269    9998932@N04      1  2008
1958270    9998932@N04      1  2008
1958271   99992323@N05     11  2013
1958272    9999639@N08     10  2008
1958273    9999639@N08     10  2008

[1958274 rows x 3 columns]>

In [16]:
len(list_user)

2000

In [57]:
[len(list_user) , len(set(list_user))]
uniqueUsers=set(list_user)
len(uniqueUsers)

88167

## Save the list of user who use the previous tag

In [116]:
with open('userList.plk', 'wb') as f:  # Python 3: open(..., 'wb')
    pickle.dump([list_user,year,month], f)

## Getting back the objects:

In [10]:
with open('userList.plk', 'r') as f:  # Python 3: open(..., 'rb')
   tmp =  pickle.load(f)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte

In [24]:
##sandbox
d={}
for x in range(1,10):
        d["string{0}".format(x)]=[]

In [25]:
d

{'string1': [],
 'string2': [],
 'string3': [],
 'string4': [],
 'string5': [],
 'string6': [],
 'string7': [],
 'string8': [],
 'string9': []}

In [26]:
d['string1'].append("bye")

In [76]:

list_user

                user  year  month
0       24391862@N06  2017      1
1      134867221@N07  2017      1
2       23985194@N06  2017      1
3      157852789@N03  2017      1
4       86855701@N08  2017      1
5       72616463@N00  2017      1
6      159251252@N07  2017      1
7      159251252@N07  2017      1
8      159251252@N07  2017      1
9      159251252@N07  2017      1
10     159251252@N07  2017      1
11     159251252@N07  2017      1
12     159251252@N07  2017      1
13     159251252@N07  2017      1
14     159251252@N07  2017      1
15     159251252@N07  2017      1
16     159251252@N07  2017      1
17     159251252@N07  2017      1
18     159251252@N07  2017      1
19     159251252@N07  2017      1
20     159251252@N07  2017      1
21     159251252@N07  2017      1
22     159251252@N07  2017      1
23     159251252@N07  2017      1
24     159251252@N07  2017      1
25     159251252@N07  2017      1
26     159251252@N07  2017      1
27     159251252@N07  2017      1
28     159251252@N07  2017      1
29     159251252@N07  2017      1
...              ...   ...    ...
53484   53439027@N08  2017     12
53485   53439027@N08  2017     12
53486   53439027@N08  2017     12
53487   53439027@N08  2017     12
53488   53439027@N08  2017     12
53489   53439027@N08  2017     12
53490   53439027@N08  2017     12
53491   53439027@N08  2017     12
53492   53439027@N08  2017     12
53493   53439027@N08  2017     12
53494   53439027@N08  2017     12
53495   53439027@N08  2017     12
53496   53439027@N08  2017     12
53497   53439027@N08  2017     12
53498   66360003@N07  2017     12
53499   53439027@N08  2017     12
53500   53439027@N08  2017     12
53501   53439027@N08  2017     12
53502   53439027@N08  2017     12
53503   53439027@N08  2017     12
53504   53439027@N08  2017     12
53505   53439027@N08  2017     12
53506   53439027@N08  2017     12
53507   53439027@N08  2017     12
53508   53439027@N08  2017     12
53509   74313678@N00  2017     12
53510   53439027@N08  2017     12
53511  149180066@N03  2017     12
53512   74313678@N00  2017     12
53513   74313678@N00  2017     12

[53514 rows x 3 columns]

In [112]:
datetime.datetime.now()

datetime.datetime(2018, 9, 16, 22, 59, 37, 856464)

In [106]:
x.append('allo')

In [114]:
list_user

['86423215@N00',
 '141836629@N07',
 '41119009@N00',
 '34690494@N06',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '141836629@N07',
 '142710016@N02',
 '142710016@N02',
 '142710016@N02',
 '142710016@N02',
 '141487081@N02',
 '141487081@N02',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '61456446@N06',
 '27004296@N03',
 '27964309@N06',
 '159544363@N04',
 '141487081@N02',
 '133926410@N03',
 '7156765@N05',
 '8398907@N02',
 '41119009@N00',
 '41119009@N00',
 '41119009@N00',
 '37041050@N03',
 '48284565@N04',
 '48284565@N04',
 '48489192@N06',
 '48489192@N06',
 '41119009@N00',
 '41119009@N00',
 '41119009@N00',
 '41119009@N00',
 '7156765@N05',
 '21728312@N03',
 '21728312@N03',
 '32852605@N03',
 '41119009@N00',
 '17904502@N00',
 '7156765@N05',
 '145472109@N04',
 '145472109@N04',
 '145472109@N04',
 '144005928@N02',
 '35232195@N06',
 '62887986@N07',
 '62887986@N07',
 '7498543@N08',
 '35385832@N05',
 '35385832@N05',
 '64250766@N06',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '10197390@N07',
 '7156765@N05',
 '141899785@N06',
 '7156765@N05',
 '143827185@N04',
 '7156765@N05',
 '35385832@N05',
 '142241704@N02',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '135836556@N06',
 '130848817@N04',
 '130848817@N04',
 '130848817@N04',
 '126616561@N08',
 '126616561@N08',
 '8451355@N07',
 '129077103@N04',
 '129077103@N04',
 '135873459@N02',
 '151456558@N06',
 '151456558@N06',
 '151456558@N06',
 '151456558@N06',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '22695788@N05',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '159615760@N04',
 '41119009@N00',
 '107664337@N08',
 '107664337@N08',
 '153896516@N08',
 '49729935@N06',
 '34111054@N00',
 '34111054@N00',
 '34111054@N00',
 '160139954@N02',
 '134255269@N07',
 '134255269@N07',
 '134255269@N07',
 '134255269@N07',
 '145566159@N02',
 '54187026@N03',
 '134255269@N07',
 '134255269@N07',
 '134255269@N07',
 '140999792@N08',
 '140463731@N06',
 '134255269@N07',
 '134255269@N07',
 '153882423@N02',
 '41119009@N00',
 '134255269@N07',
 '134255269@N07',
 '134255269@N07',
 '134255269@N07',
 '23131464@N02',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '151489026@N08',
 '48489192@N06',
 '48489192@N06',
 '48489192@N06',
 '139982674@N07',
 '41119009@N00',
 '41119009@N00',
 '149024960@N07',
 '149024960@N07',
 '149024960@N07',
 '149024960@N07',
 '136473133@N05',
 '139982674@N07',
 '139982674@N07',
 '27964309@N06',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '21728312@N03',
 '44978658@N04',
 '126646916@N02',
 '44978658@N04',
 '44978658@N04',
 '44978658@N04',
 '44978658@N04',
 '32852605@N03',
 '139982674@N07',
 '44978658@N04',
 '141436569@N03',
 '141436569@N03',
 '124282538@N07',
 '124282538@N07',
 '129161597@N03',
 '63564359@N06',
 '63564359@N06',
 '139982674@N07',
 '124282538@N07',
 '57094102@N00',
 '145472109@N04',
 '145472109@N04',
 '145986340@N07',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '135884690@N06',
 '124497472@N04',
 '143478282@N06',
 '50976304@N07',
 '144005928@N02',
 '62887986@N07',
 '62887986@N07',
 '144892948@N06',
 '62887986@N07',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '132000824@N02',
 '62887986@N07',
 '143478282@N06',
 '62887986@N07',
 '62887986@N07',
 '7498543@N08',
 '7498543@N08',
 '7498543@N08',
 '7498543@N08',
 '42761264@N07',
 '42761264@N07',
 '42761264@N07',
 '42761264@N07',
 '42761264@N07',
 '42761264@N07',
 '42761264@N07',
 '62240390@N05',
 '77496592@N02',
 '143478282@N06',
 '128760398@N03',
 '143478282@N06',
 '22169479@N03',
 '22169479@N03',
 '22169479@N03',
 '22169479@N03',
 '22169479@N03',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '37626805@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '7623944@N03',
 '15813987@N08',
 '35385832@N05',
 '61948652@N04',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '141907752@N06',
 '9170547@N08',
 '9170547@N08',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '35385832@N05',
 '27435717@N00',
 '9170547@N08',
 '139366356@N08',
 '141031759@N08',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '140941886@N05',
 '49823770@N00',
 '49823770@N00',
 '49823770@N00',
 '49823770@N00',
 '49823770@N00',
 '49823770@N00',
 '112758046@N08',
 '112758046@N08',
 '27305106@N06',
 '126616561@N08',
 '126616561@N08',
 '126405580@N06',
 '130694554@N06',
 '130694554@N06',
 '130694554@N06',
 '130694554@N06',
 '130694554@N06',
 '32323502@N00',
 '38795342@N06',
 '101845134@N05',
 '134317923@N05',
 '135486076@N08',
 '135486076@N08',
 '135281064@N05',
 '135281064@N05',
 '135281064@N05',
 '135281064@N05',
 '135281064@N05',
 '135281064@N05',
 '128939780@N08',
 '128939780@N08',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '49259543@N06',
 '134024226@N06',
 '135766606@N07',
 '130748406@N07',
 '130748406@N07',
 '130748406@N07']